.profile {
  h1, h2, h3 { margin: 10px 0; }
  h2 {
    font-size: 42px;

    img {
      height: 42px;
      vertical-align: bottom;
    }
  }
}

.badges {
  color: #888;

  .bronze span { color: #CC9966; }
  .silver span { color: #C5C5C5; }
  .gold   span { color: #FFCC00; }
}

.summary {
  .well { height: 250px; }
  h2 { font-size: 80px; }
  h3 { text-transform: uppercase; }
}
