.profile {
  h1, h2, h3 { margin: 10px 0; }
  h2 {
    font-size: 42px;

    img {
      height: 42px;
      vertical-align: bottom;
    }
  }
}

.badges {
  color: #888;

  .bronze span { color: #CC9966; }
  .silver span { color: #C5C5C5; }
  .gold   span { color: #FFCC00; }
}

.summary {
  .well { height: 250px; }
  h2 { font-size: 80px; }
  h3 { text-transform: uppercase; }
}

.history {
  font-size: 18px;
  font-weight: 200;
  line-height: 2em;
  margin-top: 10px;
}

.day {
  padding: 5px 0 5px;

  .answers {
    border-left: 1px solid #CCC;
  }
}
