.profile {
  h1, h2, h3 { margin: 10px 0; }
}

.badges {
  color: #888;

  .bronze span { color: #CC9966; }
  .silver span { color: #C5C5C5; }
  .gold   span { color: #FFCC00; }
}

.reputation {
  font-size: 24px;

  h2 {
    font-size: 42px;

    img {
      height: 42px;
      vertical-align: bottom;
    }
  }

  .change {
    color: #44B449;
    display: inline-block;
    margin-right: 5px;
    width: 90px;
  }
}

.summary {
  .well { height: 250px; }
  h2 { font-size: 80px; }
  h3 { text-transform: uppercase; }
}

.history {
  font-size: 18px;
  font-weight: 200;
  line-height: 2em;
  margin-top: 10px;
}

.day {
  padding: 5px 0 5px;

  .answers {
    border-left: 1px solid #E3E3E3;
  }
}

.answer p {
  padding-left: 140px;
}

.stamp {
  color: #333;
  display: inline-block;
  width: 30px;

  .glyphicon {
    color: #666;
    width: 20px;
  }
  .number { font-size: 16px }


  &.accepted { color: #44B449; }
  &.empty {
    color: #EEE;

    .glyphicon {
      color: #EEE;
    }
  }
  &.metric { width: 50px }
  &.not-accepted { color: #FF9A4D }

}

.gap {
  hr {
    border-color: #E3E3E3;
    border-style: dashed;
  }
}
